{% extends "base.html" %}

{% block title %}Willkommen beim SeniorInnen IT-Kurs Dietikon{% endblock %}

{% block content %}
  <h1>Willkommen!</h1>
  <p>Hier findest du aktuelle Informationen, Termine und später auch Materialien zum Kurs</p>

  <section>
    <h2>NEU AB OKTOBER - Grundkurs</h2>
    <ul>
      <li>Donnerstag, 2. Oktober –  09:30 –11:30 Uhr</li>
      <li>Themen am ersten Tag: Kennenlernen, Erwartungen, Ziele, Einführung in Hardware</li>
      <li>Bildungszentrum sfb Reppischhof, Bernstrasse 394, 8953 Dietikon</li>
      <li>Wegbeschreibung: <a href="https://maps.app.goo.gl/KbdXynL8RA9WCmCG8">sfb</a></li>
    </ul>
  </section>

  <section>
  <h2>Grundkurs 2025</h2>
  <div style="display: flex; flex-wrap: wrap; gap: 10px;">
    <a href="/kurs/grundkurs-2025" class="anmelde-button">Kursprogramm & Themen</a>
    <a href="/anmeldung" class="anmelde-button">Zur Kursanmeldung</a>
  </div>
  </section>

  
  <section>
    <h2>Unterstützung </h2>
    <p>Herzlichen Dank an <a href="https://sfb.ch/">sfb</a> welche den Kursraum zur Verfügung stellt</p>
  </section>

  

{% endblock %}
