{% extends "base.html" %}

{% block title %}Willkommen beim SeniorInnen IT-Kurs Dietikon{% endblock %}

{% block content %}
  <h1>Willkommen!</h1>
  <p>Hier findest du aktuelle Informationen, Termine und später auch Materialien zum Kurs</p>
  <p>Die Kurse richten sich an Senior*innen, die ihre digitalen Kompetenzen erweitern möchten. Vorkenntnisse sind nicht erforderlich.</p>
  <p></p>

  <section>
    <h2>Aktuelle Informationen</h2>
    <p>👉 Windows 10 Support wird von Microsoft um ein Jahr bis Oktober 2026 verlängert, wenn man ESU aktiviert</p>
    <p>👉 Grundkurs wird bei genügend Nachfrage und Anmeldungen durchgeführt. Im Moment besteht mehr Nachfrage nach individueller Unterstützung</p>

    <p>
      <a href="{{ url_for('flyer') }}" class="download-button" target="_blank">📄 Flyer ansehen / drucken</a>
    </p>
  </section>
 
  <section>
  <h2>Grundkurs 2025</h2>
  <div style="display: flex; flex-wrap: wrap; gap: 10px;">
    <a href="{{ url_for('kursbeschreibung', slug='grundkurs-2025-10-02-di') }}" 
   class="anmelde-button">Kursprogramm und Themen</a>
    <a href="/anmeldung" class="anmelde-button">Zur Kursanmeldung</a>
  </div>
  </section>

 
  

{% endblock %}
