{% extends "base.html" %}

{% block title %}Willkommen beim SeniorInnen IT-Kurs Dietikon{% endblock %}

{% block content %}
  <h1>Willkommen!</h1>
  <p>Hier findest du aktuelle Informationen, Termine und später auch Materialien zum Kurs</p>
  <p>Die Kurse richten sich an Senior*innen, die ihre digitalen Kompetenzen erweitern möchten. Vorkenntnisse sind nicht erforderlich.</p>
  <p>Im Moment ist der Grundkurs als Einstieg gedacht, aber wenn sich mehr Personen anmelden oder Interesse an einem Aufbaukurs besteht, so werde ich das berücksichtigen und die Teilnehmergruppe aufteilen.</p>
  <p>Es soll sich niemand über-oder unterfordert fühlen.</p>

  <section>
    <h2>Aktuell: Windows 10 Support wird von Microsoft um ein Jahr verlängert, bis Oktober 2026</h2>
    <h2>laufender Grundkurs Donnerstags 09:30 –11:30 Uhr - Einstieg ist jederzeit möglich</h2>
    
    <p>
      <a href="{{ url_for('flyer') }}" class="download-button" target="_blank">📄 Flyer ansehen / drucken</a>
    </p>
  </section>

  <section>
  <h2>Grundkurs 2025</h2>
  <div style="display: flex; flex-wrap: wrap; gap: 10px;">
    <a href="{{ url_for('kursbeschreibung', slug='grundkurs-2025-10-02-di') }}" 
   class="anmelde-button">Kursprogramm und Themen</a>
    <a href="/anmeldung" class="anmelde-button">Zur Kursanmeldung</a>
  </div>
  </section>


  

{% endblock %}
