{% extends "base.html" %}
{% block title %}Kursleitung{% endblock %}

{% block content %}
<h1>Kursleitung</h1>
<p>Mein Name ist Astrid und ich leite die IT-Kurse. 
Ich freue mich darauf, wenn es in Dietikon einige Leute gibt, die Lust darauf haben, ihr Handy, ihren PC/Laptop oder auch Tablet besser zu verstehen. <br>
Mit diesem Grundkurs für Einsteiger möchte ich ganz behutsam und mit Spass die Zusammenhänge digitaler Themen erklären.<br>
Idealerweise bekommst Du Lust auf mehr und entdeckst eine neue Welt, die Dir helfen soll, im Alltag besser zurecht zu kommen, aber idealerweise eben auch Spass macht.
</p>
<p>Da ich viel Geduld habe und mir der Umgang mit Menschen Freude macht, entstand die Idee zu diesem Kurs. <br>
Es macht mir auch Spass, digitale Themen in anschauliche Beispiele zu verpacken und es ist mir ein Anliegen, dass Du die Zusammenhänge verstehst.
Wir werden also vermutlich öfter mal ausschweifen und auch an praktischen Beispielen arbeiten.<br>
Es wird auch Aufgaben geben, die wir dann gemeinsam besprechen. 
</p>
<p>Ich habe viele Jahre in unterschiedlichen Aufgabenbereichen in der IT gearbeitet und bin immer noch ein sogenannter "geek".
Ich mag gern Hardware, weil man die anfassen kann, aber ich kenne mich auch gut mit Entwicklung, Virtualisierung, Security und Cloud Themen aus. <br>
 Für spezifisch gewünschte Anwendungsthemen, zb mit Office, wie Textdokumente oder Tabellen erstellen und bearbeiten werde ich später allenfalls einen eigenen Kurs anbieten. 
<br>Die Grundlagen werden im Grundkurs behandelt.
<br>
<br>
Ich freue mich auf Dich und unsere gemeinsame Zeit und Reise miteinander.
<br><br><br>link zu meiner Firma 
<a href="https://l-con.ch">
    <img src="{{ static('img/l-conlogo.png') }}"
         alt="l-con.ch Logo"
         style="width:20px; height:20px; vertical-align:middle; margin-right:6px;">
    l-con GmbH
</a>
</p>
{% endblock %}