{% extends "base.html" %}
{% block content %}

<a class="breadcrumb" href="{{ url_for('unterlagen') }}">← Zurück zur Übersicht</a>
<h1>!!! Platzhalter !!!</h1>
<p>Später kommen hier die Unterlagen für jede Lektion</p>
  <h1>Unterlagen zum {{ kurs.label or kurs.id }}</h1>

  {% if lessons and lessons|length > 0 %}
  <section>
    <h2>Verfügbare Lektionen</h2>
  
    <ul class="lektionen">
      {% for l in lessons %}
        <li>
          <a href="{{ url_for('unterlagen_lektion', slug=kurs.id, lesson_id=l.id) }}">
            {{ l.titel }}
          </a>
          <small class="muted">({{ l.id }})</small>
        </li>
      {% endfor %}
    </ul>
    </section>
  {% else %}
    <p>Keine Lektionen gefunden. Erwartet z. B. <code>L01/index.md</code> …</p>
  {% endif %}

  
{% endblock %}