{% extends "base.html" %}
{% block content %}
 
  <h1>Hier sind die Unterlagen der geplanten und laufenden Kurse</h1>
  <section>
    <h2></h2>
    <p>Die Kursunterlagen werden fortlaufend aktualisiert. Im Moment gibt es nur Unterlagen für den Grundkurs ab 2.Oktober 2025</p>
  </section>
  <section>
    {% if courses %}
    <ul class="kursliste">
      {% for c in courses %}
        <li class="kursitem">
          <a class="btn-link" href="{{ url_for('unterlagen_kurs', slug=c.id) }}">{{ c.label }}</a>
          {% if c.description %}
            <p class="kursdesc">{{ c.description }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Noch keine Kurse mit Unterlagen sichtbar.</p>
  {% endif %}
  </section>
  
{% endblock %}