Flask==3.0.3
SQLAlchemy==2.0.32
PyMySQL==1.1.1
python-dotenv==1.0.1
cryptography==43.0.1
requests>=2.32.0,<3
resend==2.13.0
Flask-WTF
email_validator
gunicorn
Markdown
PyYAML
pytest
pytest-flask
pytest-cov
